/* left container */


*{
  padding: 0; 
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #dfdbdbd9;
  /* width: 100vw; */
  height: 100vh;
}
.full_container{
   display: flex;
   height: 100vh;
   
}

.left_container{
   flex-direction: column;
   width: 50%;
   display: flex;
   justify-content: center;
   align-items: center;

   padding: 40px;
   text-align: start;
   /* background-color: #f4f4f4; */

   background-color: #F9FAFB;
   
   
}

#logos{
   /* display: flex;
   gap: 50px;
   flex-wrap: wrap; */
   margin-top: 20px;
  
}

#logos .MuiStack-root{
   display: flex;
  
       flex-flow: wrap;
       gap: 20px;

       /* gap: calc(3 * var(--mui-spacing)); */
       -webkit-box-align: center;
       align-items: center;

       /* color: var(--mui-palette-neutral-500); */

       opacity: 60%;

       padding-right: 34px;

       margin-inline-start: -55px;

       
       
}

.left_container h4{
  margin: 0px;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.2; 

 /* padding-right: 266px; */
 /* opacity: 85%; */

 display: block;
 margin-block-start: 1.33em;
 /* margin-block-end: 1.33em; */
 margin-inline-start: -325px;
 margin-inline-end: 0px;
 /* font-weight: bold; */
 unicode-bidi: isolate;
 
 
}



.left_container p{
  
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;

  opacity: 60%;

  line-height: 1.5;

   margin-inline-start: -15px;
 
} 



/* outer container */
/* uma css start */
/* * {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
  } */
 

  .logo img{
    display: block;
    color: rgba(85, 26, 139);
    cursor: pointer;
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 0px;
    font-weight: 400;
    position: relative;
    margin-top: 50px;
    height: 32px;
    width: 122px;
    line-height: 0;
    margin-left: -250px;

  }

  /* .full_container {
    display: flex;
    justify-content: flex-end;
    
    border: 5px solid black;
  }
  .left_container{
    width: 50%;
    

  } */
  .outer_container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    /* border: 8px solid black; */
    /* height: 100vh; */
    width: 50%;
  
  }

  .heading {
   align-items: center;
   box-sizing: border-box;
   color: rgb(33, 38, 54);
   color-scheme: light;
   display: flex;
   flex-basis: auto;
   flex-direction: column;
  
    
  }

  .container{
  box-sizing: border-box;
  color: rgb(33, 38, 54);
  color-scheme: light;
  column-gap: 32px;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  row-gap: 32px;
  text-size-adjust: 100%;

  }

  .outer_container{
    box-shadow : 0px 3px 14px 0px rgba(0, 0, 0, 0.08);
  }
  .outer_container h1{
 display: block;
margin-bottom: 100px ;
 text-align: center;
font-size: 24px;
font-weight: 500;
line-height: 28.8px;
margin-top: px;
text-size-adjust: 100%;
/* background-color: green; */
  }
  /* .left_container{
    align-content: center;
    margin-left: 10px;
  }
  .left_container h1{
    color: black;
    font-weight: normal;
    font-size: 25px;
  }
  .left_container > p{
    color: #717171;
    font-size: 15px;
    padding: 5px;
    line-height: 1.3;
  } */

  .inputs_container{
    margin-top: -130px;
  }
  .inputs_container > input {
   align-items: center;
   align-self: stretch;
   padding: 10px;
   margin: 5px;
   width: 140%;
   margin-left: -80px;
   border-radius: 10px;
   border: 1px solid rgb(199, 198, 198);
   outline: none;
   font-size: 16px;
   margin-bottom: 15px;
   box-shadow: 0.75px 0.50px 0px 0px rgb(199, 198, 198);
   

  }

  input:focus-within{
    border: 2px solid #635bff;
   
    
  }
  label {
    margin-left: -80px;
    font-size: 16px;
    font-weight: 0;
    
  }

  label:focus{
    color: #635bff;
  }
  .check{
    cursor: pointer;
    padding: 5px;
    font-size: 13.3333px;
    width: 40;
    height: 40;
    z-index: 1;
    margin-left: -80px;
    font-size: 16px;
    font-weight: 0;
 
    
  }
  .button{
    text-align: center;
    
  }
  button{
    font-size: 15px;
    padding: 8px 16px;
    border: 1px solid black;
    border-radius: 8px;
    width: 300px;
    height: 40px;
    background-color: rgb(78, 54, 245);
    background-color: linear-gradient(rgb(99, 91, 255) 0%, rgb(78, 54, 245) 100%);
    /* background-image: linear-gradient(rgb(99, 91, 255) 0%, rgb(78, 54, 245) 100%); */
    /* box-shadow :rgba(0, 0, 0, 0.08) 0px 1px 2px 0px, rgb(78, 54, 245) 0px 0px 0px 1px inset, rgba(255, 255, 255, 0.16) 0px 2px 0px 0px inset; */
    box-sizing :border-box;
    font-size: 16px;
    color: #fff;
    
    transition: background0.2s ease-in-out;

  }

  button:hover{
    /* background-color: rgb(28, 27, 27); */
    color: #fff;
    cursor: pointer;
    background: linear-gradient(rgb(99, 91, 255) 0%, rgb(78, 54, 245) 40%);
    -webkit-text-stroke: 0.10px #fff; /* Creates the text stroke */

  }
  .line_text{
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 25px;
  
  }
  .line_text::before,
  .line_text::after{
    content:"";
    flex: 1;
    border-bottom: 2px solid #ccc;
    margin: 0 15px;
    }
  /* h6{
    text-align: center;
    font-size: 1rem;
    font-weight: normal;
    margin: 10px;
  } */
  .link_container{
    display: flex;
    justify-content: space-between;
    margin-left: -90px;
    font-size: 18px;
    font-weight: 0;
  }

  .link_container h5{
    font-weight: normal;
    font-size: 1rem;
    font-weight: 400;
  }

  .link_container a{
    font-weight: normal;
    font-size: 17px;
  }