*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

table{
    border: 1px solid black;
    border-collapse: collapse;  
}

 h1{
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 20px;
    font-family: sans-serif;
   
}

.table-container {
    text-align: center;
}

.search-container input{
    margin-bottom: 5px;
    border-radius: 5px;
    font-family: sans-serif;
    font-weight: bolder;
    color: blue;
    outline: 0;

}


.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content:space-between;
    
}

.search-container input{
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 5px;
    font-family: sans-serif;
    font-weight: bolder;
    color: blue;
    outline: 0;

}

.search-container button{
    margin: 5px;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    font-family: sans-serif;
    font-weight: bolder;
    background-color: #69de0a;
    color: blue;
    outline: 0;
}

a{
    text-decoration: none;
    justify-content: center;
    
}

.tbody th{
    padding: 10px;
}

.t-data td{
    padding: 10px;
}



.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: flex-end;
    margin-right: 5px;
    
}

tfoot ul{
    display: flex;
    gap: 10px;
    list-style: none;
    padding: 5px;
}


tfoot ul li{
    padding: 5px 10px;
    border: 1px solid black;
    cursor: pointer;
} 

 tfoot button {
    padding: 5px 10px;
    cursor: pointer;
}




